<!-- landing.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/home.css">
  <script src="/script/home.js" defer></script>
</head>

<%- include('header') %>

  <body>
    <header>
      <h1>Daily Prompt</h1>
      <h2 id="todaysPrompt">
        <a href="/<%= id - 1 %>"> < </a> <%= prompt %> <a href="/<%= id + 1 %>"> > </a>
      </h2>
    </header>

    <% if (typeof currentUser!== 'undefined' && currentUser) { %>
    <div id="post-section">
      <form id="post-form">
        <textarea name="content" id="post-content" rows="5" required></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <% } %>

    <div class="posts">
      <% if (posts) {%>
        <% posts?.forEach(function(post) { %>
          <div class="post">
            <p>
              <%= post.content %>
            </p>
            <p><a href="/u/<%= post.author?.id %>">
                <%= post.author?.username %>
              </a></p>
          </div>
          <% }); %>
            <% } else { %>
              <p>No posts to display.</p>
              <% } %>
    </div>
  </body>